@font-face {
    font-family:'Arial';
    src: url(/assets/fonts/Arial/ArialMT.eot) format('oet');
    src: local('ArialMT'), url(/assets/fonts/Arial/ArialMT.woff) format('woff'), url(/assets/fonts/Arial/ArialMT.woff2) format('woff2'), url(/assets/fonts/Arial/ArialMT.ttf) format('ttf');  
    font-style: normal;
    font-weight: 400;  
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-thin.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-thin.woff) format('woff'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-thin.ttf) format('ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-light.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-light.woff) format('woff'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-light.ttf) format('ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-roman.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-roman.woff) format('woff'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-roman.ttf) format('ttf');
    font-style: normal;
    font-weight: 400;  
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-medium.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-medium.woff) format('woff'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-medium.ttf) format('ttf');
    font-style: normal;
    font-weight: 500;  
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-bold.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-bold.woff) format('woff'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-bold.ttf) format('ttf');
    font-style: normal;
    font-weight: 700;  
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-heavy.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-heavy.woff) format('woff'), url(/assets/fonts/Helveticaneuecyr/helveticaneuecyr-heavy.ttf) format('ttf');
    font-style: normal;
    font-weight: 900;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1920px;
    background-color: #040440;
    height: 94px;
}

.wrap {
    width: 100%;
    display: flex;
}

.header-title {
    font-family: Arial;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    width: 50%;
}

.header-title_position {
    padding-left: 104px;
    padding-top: 29px;
}

.header-nav {
    width: 30%;
}

.header-list {
    display: flex;
    list-style-type: none;
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    list-style-type: none;

}

.header-list_position {
    padding-top: 33px;
    padding-left: 13px;
}

.header-list .header-list__item:nth-child(2) {
    padding-left: 89px;
}

.header-list .header-list__item:nth-child(3) {
    padding-left: 83px;
}

.header-list__link {
    text-decoration: none;
    color: #ffffff;
}

.header-button {
    width: 20%;
}

.header-button_position {
    padding-top: 11px;
    padding-left: 39px;
}

.button {
    width: 257px;
    height: 79px;
    border-radius: 39px;
    background-color: #c93555;
}

.header_button {
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.header-button_text-link-position {
    margin-top: -11px;
    margin-left: 16px;
}

.button__link {
    color: #ffffff;
    text-decoration: none;
}


.main {
    background-image: url(assets/images/фон.png);    
    max-width: 1920px;
}

.education-info_wrap {
    padding-top: 186.7px;
    margin-left: 353px;
}

.row-line {
    width: 120px;
    height: 8px;
    background-color: #c93555;
}

.education-info-title__text {
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    color: #c93555;
}

.education-info-name__title {
    font-family: 'HelveticaNeueCyr';
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    color: #fefefe;
}

.education-info-name__description {
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    color: #fefefe;
}

.condition {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.condition__item {
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    color: #fefefe;
    margin-left: 0;
    padding-left: 0;
    margin-right: 90px;
}

.condition__item span {
    display: block;
    font-family: 'HelveticaNeueCyr';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    color: #fefefe;
}