@font-face {
    font-family:'Arial';
    src: url(./../assets/fonts/Arial/ArialMT.eot) format('oet');
    src: local('ArialMT'), url(./../assets/fonts/Arial/ArialMT.woff) format('woff'), url(./../assets/fonts/Arial/ArialMT.woff2) format('woff2'), url(./../assets/fonts/Arial/ArialMT.ttf) format('ttf');  
    font-style: normal;
    font-weight: 400;  
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-thin.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-thin.woff) format('woff'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-thin.ttf) format('ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-light.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-light.woff) format('woff'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-light.ttf) format('ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-roman.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-roman.woff) format('woff'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-roman.ttf) format('ttf');
    font-style: normal;
    font-weight: 400;  
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-medium.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(./../assets/fonts/Helveticaneuecyr/) format('woff'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-medium.ttf) format('ttf');
    font-style: normal;
    font-weight: 500;  
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-bold.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-bold.woff) format('woff'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-bold.ttf) format('ttf');
    font-style: normal;
    font-weight: 700;  
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-heavy.eot) format('oet');
    src: local('HelveticaNeueCyr'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-heavy.woff) format('woff'), url(./../assets/fonts/Helveticaneuecyr/helveticaneuecyr-heavy.ttf) format('ttf');
    font-style: normal;
    font-weight: 900;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1920px;
    background-color: #040440;
    height: 94px;
}

.wrap {
    width: 100%;
    display: flex;
}

.header-title {
    font-family: Arial;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #ffffff;
    width: 50%;
}

.header-title_position {
    padding-left: 104px;
    padding-top: 29px;
}

.header-nav {
    width: 30%;
}

.header-list {
    display: flex;
    list-style-type: none;
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    list-style-type: none;

}

.header-list_position {
    padding-top: 33px;
    padding-left: 13px;
}

.header-list .header-list__item:nth-child(2) {
    padding-left: 89px;
}

.header-list .header-list__item:nth-child(3) {
    padding-left: 83px;
}

.header-list__link {
    text-decoration: none;
    color: #ffffff;
}

.header-button {
    width: 20%;
}

.header-button_position {
    padding-top: 11px;
    padding-left: 39px;
}

.button {
    width: 258px;
    height: 79px;
    border-radius: 39px;
    background-color: #c93555;
}

.header_button {
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.header-button_text-link-position {
    margin-top: -11px;
    margin-left: 16px;
}

.button__link {
    color: #ffffff;
    text-decoration: none;
}


.main {   
    max-width: 1920px;
}

.education-info__container {
    position: relative;
    background-image: url(assets/images/фон.png);   
}

.container {
    width: 81.5%;
    margin-left: auto;
    margin-right: 0;
}

.education-info {
    flex-direction: column;
}

.education-info_wrap {
    padding-top: 182px;
    padding-bottom: 244px;
}

.row-line {
    background-color: #c93555;
}

.education-info-title__row-line {
    width: 120px;
    height: 6px;
}

.education-info-title__text {
    font-family: 'HelveticaNeueCyr';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    color: #c93555;
    padding-top: 11px;
}

.education-info-name {
    font-family: 'HelveticaNeueCyr';   
    line-height: 1.2;
    color: #fefefe;
}

.education-info-name__title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding-top: 47px;
    text-transform: uppercase;
}

.education-info-name__description {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.1px;
    padding-top: 44px;
}

.education-info-button_position {
    padding-top: 83px;
}

.education-info_button {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 24px;
    margin-left: -3px;
}

.education-info-button-position {
    margin-top: -11px;
    margin-left: -8px;
}

.education-info-condition {
    display: flex;
    list-style-type: none;
    font-family: 'HelveticaNeueCyr';
    line-height: 1.2;
    color: #fefefe;
}

.education-info-condition_position {
    padding-top: 50px;
}

.education-info-condition__title {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 2px;
}

.education-info-condition .education-info-condition__item_position:nth-child(1) {
    margin-right: 82px;
}

.education-info-condition .education-info-condition__item_position:nth-child(2) {
    margin-right: 85px;
}

.education-info-condition .education-info-condition__item_position:nth-child(3) {
    margin-top: 2px;
}

.education-info-condition_position .education-info-condition__item_position:nth-child(2) .education-info-condition__text_position {
    margin-top: -3px;
    margin-left: 4px;
}

.education-info-condition_position .education-info-condition__item_position:nth-child(3) .education-info-condition__text_position {
    margin-top: -3px;
}

.education-info-condition__text {   
    font-size: 24px;
    font-weight: 500;
}

.education-info-condition__text_position {
    padding-top: 10px;
    padding-left: 2px;
}

.blue-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #040440;
}

.about-profession__container {
    background-color: #040440;
}

.about-profession__wrap {
    padding-bottom: 139px;
}

.about-profession {
    display: flex;
}

.about-profession__wrap {
    padding-top: 14px;
}

.about-profession__image {
    width: 39%;
    padding-left: 40px;
}

.about-profession_text-item {
    width: 56%;
    margin-left: 10px;
    margin-top: -6px;
}

.text-title {
    position: relative;
}

.text-title__row-line {
    position: absolute;
    width: 9px;
    height: 65px;
    left: -21px;
    top: -3px;
}

.text-title__text {
    font-family: 'HelveticaNeueCyr';
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    font-weight: 900;
    color: #ffffff;
}

.text-description__text {
    font-family: 'HelveticaNeueCyr';
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.06px;
    font-weight: 100;
    color: #ffffff;
}

.text-description__position {
    padding-top: 60px;
    padding-left: 1px;
}

.text-description .text-description__text:nth-child(1) {
    padding-bottom: 35px;
}

.about-course__container {
    background-color: #130b5b;
    padding-top: 67px;
    padding-left: 12px;
    padding-bottom: 209px;
}

.about-course {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.about-course__wrap {
    margin-right: auto;
}

.about-course__text-item {
    width: 100%;
    display: flex;
}

.row-line_about-course-position {
    left: -13px;
}

.text-description_about-course-position {
    margin-left: -9px;
}

.text-description__text__fix-text {
    letter-spacing: 0.02px;
}

.text-description__text__fix-text1 {
    letter-spacing: 0.6px;
}

.about-course-doc__text-item {
    display: flex;
    padding-top: 16px;
}

.about-course-doc__text-item-width {
    width: 55%;
}

.row-line_about-course-doc-position {
    left: -13px;
    top: 3px;
}

.text-title_about-course-doc-position {
    font-weight: 700;
    letter-spacing: 0.1px;
    padding-top: 17px;
}

.text-description_about-course-doc-position {
    margin-left: -8px;
    margin-top: 34px;
    padding: 0;
}

.text-description_about-course-doc-position {
    letter-spacing: -1.32px;
    margin-left: -3px;
}

.about-course-button {
    width: 45%;
}

.about-course-button_button {
    font-family: 'HelveticaNeueCyr';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    width: 537px;
    height: 155px;
    border-radius: 30px;
    margin-left: -5px;
    margin-top: 16px;
}

.about-course-button_position {
    padding-bottom: 13px;
    letter-spacing: -0.5px;
}

.footer {
    background-color: #080742;
    height: 111px;
}
.footer-container {
    width: 64.5%;
    margin: 0 auto;
    display: flex;
}

.social-list {
    list-style-type: none;
    display: flex;
    padding-left: 14px;
    padding-top: 59px;
}

.social-list__item {
    padding-right: 17px;
}

.social-list .social-list__item:last-child {
    padding-right: 0;
}

.social-list__link {
    text-decoration: none;
}

.social-list__link img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.address {
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.address_footer-position {
    padding-top: 46px;
    padding-left: 118px;
}

.address__text {
    font-style: normal;
}

.address__text span {
    letter-spacing: -0.5px;
}

.email-address {
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.email-address_footer-position {
    padding-top: 51px;
    padding-left: 105px;
}

.telephon-number {
    font-family: 'HelveticaNeueCyr';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
}

.telephon-number_footer-position {
    margin-left: auto;
    padding-top: 50px;
    margin-right: -13px;
}